@import "~antd/dist/antd.dark.css";

.App {
  text-align: center;
}

.ant-table-thead > tr > th {
  color: white;
  font-weight: bold;
  font-size: normal;
  text-align: left;
  background: #1d1d1d;
  border-bottom: 1px solid #303030;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

.ant-table table {
  font-size: small;
  text-align: left;
  color: #008997;
}
